body {
	background-color: #171325;
	border: solid 5px #53d4e5;
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
}

h1, h3, a {
	color: #e0dfe2;
	font-family: Arial;
}


a {
	text-decoration: none;
}


li {
	list-style: none;
}

i {
	color: pink;
	margin-right: 5px;
}

#container {
	width: 900px;
	height: auto;
	margin: 0 auto;

}

#info-bin {
	height: auto;
	width: 200px;
	float: left;
	display: inline-block;
	padding: 20px;
	margin-top: 50px;
	/*border right */
}

#info-bin img {
	height: 80px;
	width: 80px;
	border-radius: 50px;
	margin-left: -100px;
	margin-top: 20px;
	/* positioning */
	position: absolute;
}

#work-bin {
	height: auto;
	width: 600px;
	margin-left: 20px auto;
	float: right;
	border-radius: 3px;


}

#work-bin img{
	height: 300px;
	width: 600px;
	margin: 20px auto;
	float: right;
	border-radius: 3px;
}